.ActionBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  padding: 20px 20px;
  border: 1px solid white;
  border-radius: 10px;
}

/* .ActionText::before {
  margin: auto 0;
  content: "";
  display: block;
  background-color: white;
  border-radius: 50%;
  min-width: 15px;
  max-width: 15px;
  height: 15px;
  margin-right: 15px;
} */

.ActionText {
  display: flex;
  font-size: 25px;
  color: white;
  width: 85%;
  max-width: 720px;
  line-height: 150%;
  overflow-wrap: break-word;
}

.ActionButton {
  background-color: rgb(176, 62, 62);
  width: 100%;
  padding: 10px 20px;
}

.ActionButton:not(:last-child) {
  margin-right: 20px;
}

.ActionButtonBlue {
  background-color: #1164B4;
}

.ActionDrag {
  font-size: 20px;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  max-width: 24px;
  flex-wrap: wrap;
}

.ActionDragDot {
  background-color: white;
  border-radius: 50%;
  max-width: 6px;
  min-width: 6px;
  max-height: 6px;
  min-height: 6px;
  margin-bottom: 4px;
  margin-right: 3px;
}

.ButtonsBlock {
  display: flex;
}