.SortSection {
    display: block;
}

.SortButton {
    margin-top: 30px;
    margin-right: 20px;
    background-color: #FF8800;
    width: 180px;
}

.SortText {
    color: white;
    margin-top: 20px;
    font-size: 17px;
    opacity: 1;
    transition: opacity .25s linear;
    padding-left: 15px;
    margin-bottom: 20px;
}

.None {
    opacity: 0;
}